
.header {
    background-color: #FFF0F5;
    padding: 20px;
    text-align: center;
}

.topnav {
    overflow: hidden;
    background-color: #333;
}

.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.history-city{
    float: left;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.column {
    float: left;
    width: 30%;
    padding: 15px;
}


.row:after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width:300px) {
    .column {
        width: 50%;
    }
}

.history-city{
    counter-reset: section;
}

h3::before {
    counter-increment: section;
    content: "Section " counter(section) ": ";
}

.footer {
    background-color: #f1f1f1;
    padding: 10px;
    text-align: center;
    width: 140%;
}